# My Jupyter Notebook on IBM Watson Studio

**Suvodeep Das**

Student

*I am interested in data science because I love to work with the insights present in the data*

### Following Code will Display today's time and date

In [5]:
import datetime 
message = "Today's Date and Time is " 
print (message , datetime.datetime.now() )

Today's Date and Time is  2022-12-26 05:59:10.055047

<html>
<header>
</header>

<body>
    <section>
        <h1> My favourite Fruits</h1>
        <ol>
            <li>Apple</li>
            <li>Banana</li>
            <li>Orange</li>
            <li>Mango</li>
            <li>Grapes</li>
        </ol>
        <hr>
        <table border="1px">
            <tr>
                <td><b>Needs</b></td>
                <td><b>Wants</b></td>
            </tr>
            <tr>
                <td>Water</td>
                <td>Car</td>
            </tr>
            <tr>
                <td>Food</td>
                <td>Phone</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>Computer</td>
            </tr>
            <tr>
                <td>Medicine</td>
                <td>Television</td>
            </tr>
        </table>
        <br>
        <hr>
    </section>

</body>
</html>